#header {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#columns {
  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 1em;
    }
  }

  #content {
    margin-right: 25em;
    padding: 1em;
    background: white;
    
    ul li a {
          font-size: medium;
    }

    .filter-item {
      padding: 0;
      display: inline;
    }

    .filter-list {
      margin: 0;
      padding: 0;
    }
  }

  #side {
    float: right;
    padding: 1em 2em;
    width: 17em;
    border-left: 1px solid;
    border-color: #282;
    height: 100%;

    ul li {
      padding: 0;
      a {
        font-size: small;
      }
    }
  }
}

.entry {
  .number {
    display: inline;
    font-size: medium;
  }
  .rating {
    text-align: center;
    color: red;
    display: inline;
    font-size: large;
    padding: 5px;
  }
  .vote-up {
    display: inline;
  }
  
  .vote-down {
    display: inline;
  }
}
